{% assign title = include.title | default : '' %}
{% assign url = include.url | default : '' %}
{% assign icon = include.icon | default : '' %}
{% assign author = include.author | default : '' %}
{% assign excerpt = include.excerpt | default : '' %}

{% if title.size > 0 and url.size > 0 %}
<article class="article-card">
  <div class="article-card-header">
    {% if icon.size > 0 %}
      {%
        include icon.html
        icon=icon
        alt=title
      %}
    {% endif %}

    <div class="article-card-title-group">
      <h3 class="article-card-title">
        <a href="{{ site.baseurl }}{{ url }}">{{ title }}</a>
      </h3>

      {%
        include written-on.html
        date=include.date
        author=author
      %}
    </div>
  </div>

  {% if site.articles.excerpt-enabled and excerpt.size > 0 %}
  <p class="article-card-excerpt">{{ excerpt | strip_html | normalize_whitespace | truncate: 220 | escape }}</p>
  {% endif %}

  {% if site.articles.read-more-enabled %}
  <a class="article-card-link" href="{{ site.baseurl }}{{ url }}">
    <span>{{ site.articles.read-more-text }}</span>
    <span aria-hidden="true">&rarr;</span>
  </a>
  {% endif %}
</article>
{% endif %}