---
layout: default
---

{% if site.homepage.latest-articles-enabled %}
<section class="home-articles-section">
  <div class="article-list">
    {% for post in site.posts limit:6 %}
      {%
        include article-summary.html
        url=post.url
        title=post.title
        date=post.date
        icon=post.icon
        author=post.author
        excerpt=post.excerpt
      %}
    {% endfor %}
  </div>

  {% if site.homepage.latest-articles-link-enabled and site.homepage.latest-articles-link-url.size > 0 and site.homepage.latest-articles-link-text.size > 0 %}
  <div class="center-btn-container">
    <a class="btn-action" href="{{ site.baseurl }}{{ site.homepage.latest-articles-link-url }}">
      <span>{{ site.homepage.latest-articles-link-text }}</span>
      <span aria-hidden="true">&rarr;</span>
    </a>
  </div>
  {% endif %}
</section>
{% endif %}